<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  配置bean  -->
    <!--  id为bean名字  -->
    <!--  class为bean定义类型  -->
    <bean id="bookDao" class="com.it.dao.impl.BookDaoImpl"/>
    <bean id="bookService" class="com.it.service.impl.BookServiceImpl">
        <property name="bookDao" ref="bookDao"/>
    </bean>
</beans>