<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.it.mapper.UserMapper">
    <!--  1  -->
    <sql id="bran">
        *
    </sql>
    <select id="selectAll" resultType="User">
        select
        <include refid="bran"/>
        from runoob_tbl;
    </select>
    <!--  2  -->
    <resultMap id="userResultMap" type="User">
        <result column="runoob_title" property="runoobTitle"/>
    </resultMap>

    <select id="selectAllList" resultMap="userResultMap">
        select
        <include refid="bran"/>
        from runoob_tbl;
    </select>
    <!--  3  -->
    <select id="selectOne" parameterType="int" resultType="User">
        select
        <include refid="bran"/>
        from runoob_tbl where runoob_id = #{id};
    </select>
    <!--  4  -->
    <select id="selectCondition" resultMap="userResultMap">
        select
        <include refid="bran"/>
        from runoob_tbl where runoob_id = #{user.runoob_id} and runoob_title = #{user.runoob_title};
    </select>
    <!--  5  -->
    <select id="selectConditionMap" resultMap="userResultMap">
        select
        <include refid="bran"/>
        from runoob_tbl 
            <where>
                <if test="runoob_id != null and runoob_id != ''">
                    and runoob_id = #{runoob_id}
                </if>
                <if test="runoob_title != null and runoob_title != ''">
                    and runoob_title = #{runoob_title}
                </if>
            </where>
    </select>
    <!--  6  -->
    <select id="selectConditionChoose" resultMap="userResultMap">
        select
        <include refid="bran"/>
        from runoob_tbl
        <where>
            <choose>
                <when test="runoob_id != null and runoob_id != ''">
                    and runoob_id = #{runoob_id}
                </when>
                <when test="runoob_title != null and runoob_title != ''">
                    and runoob_title = #{runoob_title}
                </when>
            </choose>
        </where>
    </select>
    <!--  7 返回插入的主键id  -->
    <insert id="addOne" useGeneratedKeys="true" keyProperty="runoob_id">
        insert into runoob_tbl (runoob_title, runoob_author, submission_date)
        values (#{runoob_title},#{runoob_author},#{submission_date});
    </insert>
    <!--  8  -->
    <update id="updateOne">
        update runoob_tbl
        <set>
            <if test="runoob_title != null">
                runoob_title = #{runoob_title},
            </if>
            <if test="runoob_author != null">
                runoob_author = #{runoob_author},
            </if>
            <if test="submission_date">
                submission_date = #{submission_date}
            </if>
        </set>
        where
        runoob_id=#{runoob_id}
    </update>
    <!--  9  -->
    <delete id="deleteOne">
        delete from runoob_tbl where runoob_id=#{runoob_id}
    </delete>
    <delete id="deleteList">
        delete from runoob_tbl where runoob_id
        in
        <foreach collection="array" item="runoob_id" separator="," open="(" close=")">
            #{runoob_id}
        </foreach>
    </delete>
</mapper>