<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.it.mapper.UserMapper">
    <select id="selectAll" resultType="com.it.user.User">
        select * from runoob_tbl;
    </select>
</mapper>